/* margin: [arriba] [derecha] [abajo] [izquierda]; */
.overflow-x {
    overflow-x: hidden;
}

.pd-planeta-left {
    margin: 0 0 0 30%;
    animation: fadeInTopLeft;
    animation-duration: 2s;
}

.pd-planeta-right {
    margin: 0 0 0 55%;
    animation: fadeInRight;
    animation-duration: 3s;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.sombra-levitacion:hover {
    animation: pulseEffect 1.5s infinite;
}

.sun {
    --animate-duration: 6s;
}

.height-secure {
    height: 32rem !important;
}

.sombra-levitacion {
    display: block;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.9));
}

.sombra-levitacion-masive {
    width: 50rem;
    height: 50rem;
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.9));
}

.planet-datos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.hover-li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .planet-datos-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        overflow-x: hidden;
    }
}
